<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>

<div th:fragment="nav">
    <nav class="navbar">
        <div class="container">
            <a href="/" class="navbar-right">
                <img src="/images/logo.png" alt="logo"/>
            </a>
            <div class="navbar-header vcenter">
                <a class="navbar-brand" th:href="@{/players}">درجه بندی</a>

                <a class="navbar-brand" th:href="@{/admin/add-player}">+ بازیکن</a>

                <a class="navbar-brand" th:href="@{/admin/add-game}">+ بازی</a>

                <a class="navbar-brand" th:href="@{/admin/add-event}">+ رویداد</a>

                <form th:action="@{/logout}" method="post" style="display: inline">
                    <input id="logout" type="submit" class="navbar-brand" value="خروج" style="background:none; border:none; color:#57b "/>
                </form>
            </div>
        </div>
    </nav>
</div>

<div th:fragment="empty">
    <!--<nav class="navbar navbar-fixed-top">-->
    <!--<div class="container">-->
    <!--<a href="#" class="navbar-right">-->
    <!--<img src="images/logo.png" alt="logo"/>-->
    <!--</a>-->
    <!--</div>-->
    <!--</nav>-->
</div>


</body>
</html>
