body{
    font-family: iran;
    background-color: #fefefe;
}

.navbar{
/*    -webkit-box-shadow: 0px -13px 5px 10px rgba(0,0,0,0.6);
    -moz-box-shadow: 0px -13px 5px 10px rgba(0,0,0,0.6);
    box-shadow: 0px -13px 5px 10px rgba(0,0,0,0.6); */
    background: #efebe9 !important;
    /*     background: rgb(234, 210, 157) !important; */
}

.container {
    color: #555;
}

form {
    max-width: 400px;
    margin: 0 auto;
}

div.radio {
    float: left;
    margin-top: -7px;
    margin-left: 32px;
    margin-right: 32px;
}

div.radio input {
    left: 0px;
}

div.table-responsive {
    border: none;
}

label {
    color: #888;
}

form > div {
    margin-top: 32px;
    margin-bottom: 8px;
}

.navbar-header {
    float:right;
}

.navbar-brand {
    float: right;
    font-size: 16px;
}

.navbar-right img {
    float: right;
    height: 48px;
    margin: 8p;
    margin-left: 32px;
}

.page-header {
    border-bottom: none;
}

.page-header h1 {
    font-weight: bold;
}

input[type=text] {
    background: transparent;
    border: none;
    border-bottom: 1px solid #bbb;
    padding-bottom: 4px;
}

input {
    float: left;
}

.btn {
    margin-right: 8px;
}

.footer {
    margin-top: 48px;
}

footer {
    height: 48px;
}

/* Iran fonts */
@font-face {
    font-family: 'IRAN-web';
    src: url('font/IRANBold.eot');

    src: url('font/IRANBold.eot?#iefix') format('eot'),  /* IE6–8 */
    url('font/IRANBold.woff2') format('woff2'),  /* Chrome36+, Opera24+*/
    url('font/IRANBold.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    url('font/IRANBold.ttf') format('ttf');
    font-weight: bold;
}
@font-face {
    font-family: 'IRAN-web';
    src: url('font/IRAN_SemiBold.eot');

    src: url('font/IRAN_SemiBold.eot?#iefix') format('eot'),  /* IE6–8 */
    url('font/IRAN_SemiBold.woff2') format('woff2'),  /* Chrome36+, Opera24+*/
    url('font/IRAN_SemiBold.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    url('font/IRAN_SemiBold.ttf') format('ttf');
    font-weight: 600;
}
@font-face {
    font-family: 'IRAN-web';
    src: url('font/IRANBlack.eot');

    src: url('font/IRANBlack.eot?#iefix') format('eot'),  /* IE6–8 */
    url('font/IRANBlack.woff2') format('woff2'),  /* Chrome36+, Opera24+*/
    url('font/IRANBlack.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    url('font/IRANBlack.ttf') format('ttf');
    font-weight: 900;
}
@font-face {
    font-family: 'IRAN-web';
    src: url('font/IRAN.eot');

    src: url('font/IRAN.eot?#iefix') format('eot'),  /* IE6–8 */
    url('font/IRAN.woff2') format('woff2'),  /* Chrome36+, Opera24+*/
    url('font/IRAN.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    url('font/IRAN.ttf') format('ttf');
    font-weight: normal;
}
