<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml" lang="fa-ir" dir="rtl">
<head>
    <meta charset="utf-8"/>

    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>

    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <title th:inline="text">سلام [[${#httpServletRequest.remoteUser}]]!</title>

    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/ui-darkness/jquery-ui.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="../css/persian-datepicker-0.4.5.min.css"/>
    <link rel="stylesheet" href="../css/main.css"/>

    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>

<div sec:authorize="isAuthenticated()">
    <div th:replace="fragments/main :: nav">
        Should not print.
    </div>
</div>

<div class="container">

    <div class="page-header">
        <h1>افزودن بازیکن</h1>
    </div>

    <div class="row">

        <form action="#" th:action="@{/admin/add-player}" th:object="${player}" method="post">

            <input type="hidden" th:field="*{playerId}" />

            <div class="col-md-12 col-sm-12">
                <label for="firstName">نام:</label>
                <input type="text" th:field="*{firstName}" value="سهیل"/>
            </div>

            <div class="col-md-12 col-sm-12">
                <label for="lastName">نام خانوادگی:</label>
                <input type="text" th:field="*{lastName}" value="شهزادی"/>
            </div>

            <div class="col-md-12 col-sm-12">
                <label for="fatherName">نام پدر:</label>
                <input type="text" th:field="*{fatherName}" value="حمیدرضا"/>
            </div>

            <div class="col-md-12 col-sm-12">
                <label for="nin">شماره ملی:</label>
                <input type="text" th:field="*{nin}" value="۱۲۵۰۰۰۹۰۸۱"/>
            </div>

            <div class="col-md-12 col-sm-12">
                <label for="birthDate">تاریخ تولد:</label>
                <input class="dateInput" type="text" th:field="*{birthDate}" value="پرویز"/>
            </div>

            <div class="col-md-12 col-sm-12">
                <label for="cityOfBirth">محل تولد:</label>
                <input type="text" th:field="*{cityOfBirth}" value="قزوین"/>
            </div>

            <div class="col-md-12 col-sm-12">
                <label for="gender">جنسیت :</label>
                <div th:each="gender : ${genders}" class="radio">
                    <input type="radio" th:value="${gender}" th:field="*{gender}" />
                    <label th:for="${#ids.prev('gender')}" th:text="${gender.description}">مرد</label>
                </div>
                <div th:remove="all" class="radio">
                    <input type="radio" />
                    <label>زن</label>
                </div>
            </div>

            <div class="col-md-12 col-sm-12">
                <label for="address">نشانی:</label>
                <input type="text" minlength="15" th:field="*{address}" value="قزوین، ..."/>
            </div>

            <div class="col-md-12 col-sm-12">
                <label for="contactNumber">شماره تماس:</label>
                <input type="text" th:field="*{contactNumber}" value="09195532312"/>
            </div>

            <div class="col-md-12 col-sm-12">
                <input type="submit" class="btn btn-primary" value="افزودن"/>
                <input type="reset" class="btn" value="تازه‌سازی" />
            </div>
        </form>

    </div>
</div>
<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4"><p class="text-muted">پایگاه خبری تخت‌نرد</p></div>
        </div>
    </div>
</footer>

<script src="http://code.jquery.com/jquery-1.12.4.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="../js/persian-date-0.1.8.min.js"></script>
<script src="../js/persian-datepicker-0.4.5.min.js"></script>
<script src="../js/main.js"></script>
</body>
</html>