<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml" lang="fa-ir" dir="rtl">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <title>درجه‌بندی نردبازان ایران</title>

    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.15/css/dataTables.bootstrap.min.css"/>
    <link rel="stylesheet" href="css/main.css"/>

    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>

<div sec:authorize="isAuthenticated()">
    <div th:replace="fragments/main :: nav">
        Should not print.
    </div>
</div>

<div class="container">

    <div class="page-header">
        <h1>اسامی بازیکنان</h1>
    </div>
    <!--<div class="input-group">-->
    <!--<span class="input-group-addon" id="basic-addon1"><span class="glyphicon glyphicon-calendar" aria-hidden="true"></span></span>-->
    <!--<input type="text" class="form-control" id="datepicker" aria-describedby="basic-addon1"/>-->
    <!--</div>-->

    <div class="table-responsive">
        <table id="playersTable" class="table table-striped table-bordered" cellspacing="0" width="90%">
            <thead>
                <tr>
                    <td>نام</td>
                    <td>شماره ملی</td>
                    <td>سن</td>
                    <td>جنسیت</td>
                    <td>تجربه</td>
                    <td>درجه</td>
                </tr>
            </thead>
            <tfoot>
                <tr>
                    <td>نام</td>
                    <td>شماره ملی</td>
                    <td>سن</td>
                    <td>جنسیت</td>
                    <td>تجربه</td>
                    <td>درجه</td>
                </tr>
            </tfoot>
            <tbody>
                <tr th:each="playerStats: ${playerList}">
                    <td th:text="${playerStats.firstName} + ' ' + ${playerStats.lastName}">نام</td>
                    <td th:text="${playerStats.nin}">شماره ملی</td>
                    <td th:text="${playerStats.age}">سن</td>
                    <td th:text="${playerStats.gender.description}">جنسیت</td>
                    <td th:text="${playerStats.experience}">تجربه</td>
                    <td th:text="${playerStats.rating}">درجه</td>
                    <!--<td th:text="${player.lastName}!=null? ${player.firstName} + ' ' + ${player.lastName} : 'VACANT'">Full Name</td>-->
                </tr>
            </tbody>
        </table>
    </div>
</div>
<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4"><p class="text-muted">پایگاه خبری تخت‌نرد</p></div>
        </div>
    </div>
</footer>

<script src="http://code.jquery.com/jquery-1.12.4.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.15/js/dataTables.bootstrap.min.js"></script>
<script src="js/main.js"></script>
</body>
</html>